{% extends 'base.html' %}

{% block title %}Sign up{% endblock %}

{% block content %}

{% if messg %}
<script>
    alert('{{ messg }}');
	</script>
{% endif %}

<script>

function checkPass()
{
    var pass1 = document.getElementById('pass');
    var pass2 = document.getElementById('pass');
    var message = document.getElementById('error-nwl');
    var goodColor = "#66cc66";
    var badColor = "#ff6666";

    if(pass1.value.length > 5)
    {
        pass1.style.backgroundColor = goodColor;
        message.style.color = goodColor;
        message.innerHTML = "character number ok!"
    }
    else
    {
        pass1.style.backgroundColor = badColor;
        message.style.color = badColor;
        message.innerHTML = " you have to enter at least 6 digit!"
        return;
    }

    if(pass1.value == pass2.value)
    {
        pass2.style.backgroundColor = goodColor;
        message.style.color = goodColor;
        message.innerHTML = "ok!"
    }
	else
    {
        pass2.style.backgroundColor = badColor;
        message.style.color = badColor;
        message.innerHTML = " These passwords don't match"
    }
}
</script>

<form action="postsignup" method="post">
    {% csrf_token %}
    Name:
    <input type="text" name="name"><br><br>
    Email :
    <input type="email" name="email"><br><br>
    Password (6 characters minimum):
    <input type="password" name="pass" minlength=6" ><br><br>
    <input type="submit" value="sign_up">
</form>

{% endblock %}
