{% extends 'base.html' %}

{% load static %}

{% block title %}Experience{% endblock %}

{% block content %}

<!-- experience -->
<div class="services-w3l" id="experience">
	<div class="container">
		<h3 class="w3l-title">Work Experience</h3>
		<div class="wthree_latest_albums_grids">
			<div class="cntl"> <span class="cntl-bar cntl-center"> <span class="cntl-bar-fill"></span> </span>
				<div class="cntl-states">
					<div class="cntl-state">
						<div class="cntl-content">
							<h4>2017 Present</h4>
							<p>SENIOR PROJECT MANAGER</p>
						</div>
						<div class="cntl-image">
							<img src="{% static 'img/w1.jpg' %}" alt=" " class="img-responsive" />
							<div class="w3ls_cntl_image_pos">
								<p>Sed do eiusmod tempor incididunt et dolore magna aliqua.</p>
							</div>
						</div>
						<div class="cntl-icon cntl-center">01</div>
					</div>
					<div class="cntl-state">
						<div class="cntl-content">
							<h4>2013 to 2016</h4>
							<p>FRONT END DEVELOPER</p>
						</div>
						<div class="cntl-image w3_cntl_image"><img src="{% static 'img/w2.jpg' %}" alt=" " class="img-responsive" /></div>
						<div class="cntl-icon cntl-center">02</div>
					</div>
					<div class="cntl-state">
						<div class="cntl-content">
							<h4>2010 to 2013</h4>
							<p>Microsoft & IT Solutions</p>
						</div>
						<div class="cntl-image">
							<img src="{% static 'img/w3.jpg' %}" alt=" " class="img-responsive" />
							<div class="w3ls_cntl_image_pos">
								<p>Sed do eiusmod tempor incididunt et dolore magna aliqua.</p>
							</div>
						</div>
						<div class="cntl-icon cntl-center">03</div>
					</div>
					<div class="cntl-state">
						<div class="cntl-content">
							<h4>2007 to 2010</h4>
							<p>WebStyle Technologies</p>
						</div>
						<div class="cntl-image">
							<img src="{% static 'img/w4.jpg' %}" alt=" " class="img-responsive" />
							<div class="w3ls_cntl_image_pos">
								<p>Sed do eiusmod tempor incididunt et dolore magna aliqua.</p>
							</div>
						</div>
						<div class="cntl-icon cntl-center">04</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- //experience -->
{% endblock %}