{% extends 'base.html' %}

{% block title %}Education{% endblock %}

{% block content %}

<!-- education -->
<div class="experience" id="education">
	<div class="container">
		<h3 class="w3l-title">My Education</h3>
		<div class="col-md-12 abt-left">
			<div class="accordion">
				<div class="accordion-section">
					<h5><a class="accordion-section-title" href="#accordion-1">
						<span>2005 - 2007</span>Oxford University
					<i class="glyphicon glyphicon-chevron-down"></i>
					</a></h5>
					<div id="accordion-1" class="accordion-section-content">
						<h6>Best Seminars</h6>
						<ul>
							<li><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span><a href="#">Phasellus molestie eros at convallis condimentum</a></li>
							<li><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span><a href="#">Fusce dapibus orci sapien, ut facilisis turpis blandit nec</a></li>
							<li><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span><a href="#">Donec cursus nibh quis egestas dapibus</a></li>
						</ul>
					</div>
				</div>
				<div class="accordion-section">
					<h5><a class="accordion-section-title" href="#accordion-2">
						<span>2000 - 2005</span> Down Street College
					<i class="glyphicon glyphicon-chevron-down"></i>
					</a></h5>
					<div id="accordion-2" class="accordion-section-content">

						<h6>Projects & Awards</h6>
						<ul>
							<li><span class="glyphicon glyphicon-star" aria-hidden="true"></span><a href="#">Quisque rhoncus at ante nec malesuada</a></li>
							<li><span class="glyphicon glyphicon-star" aria-hidden="true"></span><a href="#">accusantium doloremque</a></li>
							<li><span class="glyphicon glyphicon-star" aria-hidden="true"></span><a href="#">doloremque lauda loigfgf ntium</a></li>
						</ul>
					</div>
				</div>
				<div class="accordion-section">
					<h5><a class="accordion-section-title" href="#accordion-3">
						<span>1990 - 2000</span> Fedrick School
					<i class="glyphicon glyphicon-chevron-down"></i>
					</a></h5>
					<div id="accordion-3" class="accordion-section-content">
						<h6>Competitions</h6>
						<ul>
							<li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span><a href="#">voluptatem accusantium</a></li>
							<li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span><a href="#">Integer sodales, odio sit amet viverra sollicitudin</a></li>
							<li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span><a href="#">onec pulvinar vestibulum sem quis porttitor</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- //education -->
{% endblock %}