{% extends 'base.html' %}

{% block title %}Contact{% endblock %}

{% block content %}

<!-- //contact -->
<div class="address" id="contact">
	<div class="container">
		<h3 class="w3l-title">What did you learn today?</h3>
		<div class="address-row">
			<div class="col-md-6 address-left wow agile fadeInLeft animated" data-wow-delay=".5s">
				<div class="address-grid">
					<h4 class="wow fadeIndown animated" data-wow-delay=".5s">Fill in ...</h4>
				    	<form id="main-contact-form" class="contact-form row" name="contact-form" method="post">
                              {% csrf_token %}
										<div class="form-group col-md-12">
				                <textarea name="learning_1" id="learning_1"  required="required" class="form-control" rows="8" placeholder="Your Learning Here"></textarea>
				            </div>
										<div class="form-group col-md-6">
				                <input type="text" name="tag1" class="form-control" required="required" placeholder="tag">
				            </div>
										<div class="form-group col-md-12">
				                <textarea name="learning_2" id="learning_2"  required="required" class="form-control" rows="8" placeholder="Your Learning Here"></textarea>
				            </div>
										<div class="form-group col-md-6">
				                <input type="text" name="tag2" class="form-control" required="required" placeholder="tag">
				            </div>
										<div class="form-group col-md-12">
				                <textarea name="learning_3" id="learning_3"  required="required" class="form-control" rows="8" placeholder="Your Learning Here"></textarea>
				            </div>
										<div class="form-group col-md-6">
				                <input type="text" name="tag3" class="form-control" required="required" placeholder="tag">
				            </div>
				            <div class="form-group col-md-12">
				                <input type="submit" name="submit" class="btn btn-primary pull-right" value="Submit">
				            </div>
				        </form>
				</div>
			</div>
			<div class="col-md-6 address-right">
				<div class="address-info wow fadeInRight animated" data-wow-delay=".5s">
					<h4>Address</h4>
					<p>123 San Sebastian, Hill Towers 4567 New York City USA.</p>
				</div>
				<div class="address-info address-mdl wow fadeInRight animated" data-wow-delay=".7s">
					<h4>Phone </h4>
					<p>+222 111 333 4444</p>
					<p>+222 111 333 5555</p>
				</div>
				<div class="address-info agileits-info wow fadeInRight animated" data-wow-delay=".6s">
					<h4>Mail</h4>
					<p><a href="mailto:example@mail.com"> mail@example.com</a></p>
					<p><a href="mailto:example@mail.com"> mail2@example.com</a></p>
				</div>
			</div>
		</div>
	</div>
</div>
<!--//contact-->

{% endblock %}
