{% extends 'base.html' %}


{% block title %}My Skills{% endblock %}

{% block content %}
<!-- stats -->
<div class="stats wthree-sub" id="skills">
	<div class="container">
		<h3 class="w3l-title">My Skills</h3>
		<div class="col-sm-6 stats_grid_right">
			<div class="skillbar" data-percent="78">
			  <span class="skillbar-title" style="background: #f1703a;">Wordpress</span>
			  <p class="skillbar-bar" style="background: #f88c5e;"></p>
			  <span class="skill-bar-percent"></span>
			</div>
			<!-- End Skill Bar -->

			<div class="skillbar" data-percent="94">
			  <span class="skillbar-title" style="background: #2980b9;">JavaScript</span>
			  <p class="skillbar-bar" style="background: #3498db;"></p>
			  <span class="skill-bar-percent"></span>
			</div>
			<!-- End Skill Bar -->

			<div class="skillbar" data-percent="76">
			  <span class="skillbar-title" style="background: #a0d034;">HTML</span>
			  <p class="skillbar-bar" style="background: #b2ec2f;"></p>
			  <span class="skill-bar-percent"></span>
			</div>
			<!-- End Skill Bar -->
		</div>
		<div class="col-sm-6 stats_grid_right">
			<div class="skillbar" data-percent="54">
			  <span class="skillbar-title" style="background: #f1703a;">Photoshop</span>
			  <p class="skillbar-bar" style="background: #f88c5e;"></p>
			  <span class="skill-bar-percent"></span>
			</div>
			<!-- End Skill Bar -->

			<div class="skillbar" data-percent="64">
			  <span class="skillbar-title" style="background: #2980b9;">CSS3</span>
			  <p class="skillbar-bar" style="background: #3498db;"></p>
			  <span class="skill-bar-percent"></span>
			</div>
			<!-- End Skill Bar -->

			<div class="skillbar" data-percent="84">
			  <span class="skillbar-title" style="background: #a0d034;">PHP</span>
			  <p class="skillbar-bar" style="background: #b2ec2f;"></p>
			  <span class="skill-bar-percent"></span>
			</div>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>
<!-- //stats -->
{% endblock %}