{% extends 'base.html' %}
{% load static %}


{% block title %}My Services{% endblock %}

{% block content %}
<!-- services -->
<div class="services" id="services">
	<div class="container">
		<h3 class="w3l-title">Statistics</h3>
		<div class="box2">
			<div class="col-sm-4 s-1">
				<a href="#">
					<div class="view view-fifth">
						<i class="fa fa-laptop" aria-hidden="true"></i>
						<div class="mask">
							<img src="{% static 'img/my_learnings.jpg' %}" alt=" " class="img-responsive">
						</div>
						<h3>Me </h3>
					</div>
				</a>
			</div>
			<div class="col-sm-4 s-1">
				<a href="#">
					<div class="view view-fifth">
						<i class="fa fa-clone" aria-hidden="true"></i>
						<div class="mask">
							<i class="fa fa-clone" aria-hidden="true"></i>
							<h4>Creative Design</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
						</div>
						<h3>My friends</h3>
					</div>
				</a>
			</div>
			<div class="col-sm-4 s-1">
				<a href="#">
					<div class="view view-fifth">
						<i class="fa fa-pencil" aria-hidden="true"></i>
						<div class="mask">
							<i class="fa fa-pencil" aria-hidden="true"></i>
							<h4>Html Coding</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
						</div>
						<h3>The community</h3>
					</div>
				</a>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>

<div class="intra-w3l">
	<div class="container">
		<h3 class="w3l-title">Interests</h3>
		<div class="agile-w3l-in">
			<i class="fa fa-camera" aria-hidden="true"></i>
			<p>PHOTOGRAPHY</p>
		</div>
		<div class="agile-w3l-in">
			<i class="fa fa-plane" aria-hidden="true"></i>
			<p>TRAVELLING</p>
		</div>
		<div class="agile-w3l-in">
			<i class="fa fa-book" aria-hidden="true"></i>
			<p>Reading</p>
		</div>
		<div class="agile-w3l-in w3l-intra-re">
			<i class="fa fa-gamepad" aria-hidden="true"></i>
			<p>GAMING</p>
		</div>
		<div class="agile-w3l-in w3l-intra-re">
			<i class="fa fa-music" aria-hidden="true"></i>
			<p>MUSIC</p>
		</div>

	</div>
</div>
<!-- //services -->
{% endblock %}
