{% extends 'base.html' %}

{% load static %}

{% block title %}About Me{% endblock %}

{% block content %}

<!-- about -->
<div class="about" id="about">
	<div class="container">
		<h3 class="w3l-title">My Self</h3>
		<div class="about-w3l-agileifo-grid">
			<div class="col-md-7 agile-w3l-ab">
				<ul class="rslides" id="slider">
					<li>
						<div class="agile-w3l-ab-img">
							<img src="{%  static 'img/a3.jpg' %}" class="img-responsive" alt="Homey Designs">
						</div>
					</li>
					<li>
						<div class="agile-w3l-ab-img">
							<img src="{% static 'img/a2.jpg' %}" class="img-responsive" alt="Homey Designs">
						</div>
					</li>
					<li>
						<div class="agile-w3l-ab-img">
							<img src="{% static 'img/a1.jpg' %}" class="img-responsive" alt="Homey Designs">
						</div>
					</li>
				</ul>
			</div>
			<div class="col-md-5 w3ls-agile-left">
				<div class="w3ls-agile-left-info">
					<h4>Name</h4>
					<p>Keith Mash</p>
				</div>
				<div class="w3ls-agile-left-info">
					<h4>Sex</h4>
					<p>Male</p>
				</div>
				<div class="w3ls-agile-left-info">
					<h4>Address</h4>
					<p> 30, Golden Street, New Castle</p>
				</div>
				<div class="w3ls-agile-left-info">
					<h4>Phone Number</h4>
					<p>+012 345 6789</p>
				</div>
				<div class="w3ls-agile-left-info">
					<h4>Email Address</h4>
					<p><a href="mailto:example@email.com">mail@example.com</a></p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- //about -->
{% endblock content %}