{% extends 'base.html' %}

{% load static %}

{% block title %}Projects{% endblock %}

{% block content %}



<!-- projects -->
<div class="portfolio" id="projects">
	<div class="container">
		<h3 class="w3l-title">My Projects</h3>
		<div class="agileits_portfolio_grids">
			<div class="col-md-3 agileits_portfolio_grid">
				<div class="agileinfo_portfolio_grid hovereffect">
					<a class="cm-overlay" href="{% static 'img/g1.jpg' %}">
						<img src="{% static 'img/g1.jpg' %}" alt=" " class="img-responsive">
						<div class="overlay">
							<h4>Classic CV</h4>
						</div>
					</a>
				</div>
				<div class="agileinfo_portfolio_grid hovereffect">
					<a class="cm-overlay" href="{% static 'img/g2.jpg' %}">
						<img src="{% static 'img/g2.jpg' %}" alt=" " class="img-responsive">
						<div class="overlay">
							<h4>Classic CV</h4>
						</div>
					</a>
				</div>
				<div class="agileinfo_portfolio_grid hovereffect">
					<a class="cm-overlay" href="{% static 'img/g3.jpg' %}">
						<img src="{% static 'img/g3.jpg' %}" alt=" " class="img-responsive">
						<div class="overlay">
							<h4>Classic CV</h4>
						</div>
					</a>
				</div>
			</div>
			<div class="col-md-3 agileits_portfolio_grid">
				<div class="agileinfo_portfolio_grid hovereffect">
					<a class="cm-overlay" href="{% static 'img/g4.jpg' %}">
						<img src="{% static 'img/g4.jpg' %}" alt=" " class="img-responsive">
						<div class="overlay">
							<h4>Classic CV</h4>
						</div>
					</a>
				</div>
				<div class="agileinfo_portfolio_grid hovereffect">
					<a class="cm-overlay" href="{% static 'img/g5.jpg' %}">
						<img src="{% static 'img/g5.jpg' %}" alt=" " class="img-responsive">
						<div class="overlay">
							<h4>Classic CV</h4>
						</div>
					</a>
				</div>
				<div class="agileinfo_portfolio_grid hovereffect">
					<a class="cm-overlay" href="{% static 'img/g6.jpg' %}">
						<img src="{% static 'img/g6.jpg' %}" alt=" " class="img-responsive">
						<div class="overlay">
							<h4>Classic CV</h4>
						</div>
					</a>
				</div>
			</div>
			<div class="col-md-3 agileits_portfolio_grid">
				<div class="agileinfo_portfolio_grid hovereffect">
					<a class="cm-overlay" href="{% static 'img/g7.jpg' %}">
						<img src="{% static 'img/g7.jpg' %}" alt=" " class="img-responsive">
						<div class="overlay">
							<h4>Classic CV</h4>
						</div>
					</a>
				</div>
				<div class="agileinfo_portfolio_grid hovereffect">
					<a class="cm-overlay" href="{% static 'img/g8.jpg' %}">
						<img src="{% static 'img/g8.jpg' %}" alt=" " class="img-responsive">
						<div class="overlay">
							<h4>Classic CV</h4>
						</div>
					</a>
				</div>
				<div class="agileinfo_portfolio_grid hovereffect">
					<a class="cm-overlay" href="{% static 'img/g9.jpg' %}">
						<img src="{% static 'img/g9.jpg' %}" alt=" " class="img-responsive">
						<div class="overlay">
							<h4>Classic CV</h4>
						</div>
					</a>
				</div>
			</div>
			<div class="col-md-3 agileits_portfolio_grid">
				<div class="agileinfo_portfolio_grid hovereffect">
					<a class="cm-overlay" href="{% static 'img/g10.jpg' %}">
						<img src="{% static 'img/g10.jpg' %}" alt=" " class="img-responsive">
						<div class="overlay">
							<h4>Classic CV</h4>
						</div>
					</a>
				</div>
				<div class="agileinfo_portfolio_grid hovereffect">
					<a class="cm-overlay" href="{% static 'img/g11.jpg' %}">
						<img src="{% static 'img/g11.jpg' %}" alt=" " class="img-responsive">
						<div class="overlay">
							<h4>Classic CV</h4>
						</div>
					</a>
				</div>
				<div class="agileinfo_portfolio_grid hovereffect">
					<a class="cm-overlay" href="{% static 'img/g12.jpg' %}">
						<img src="{% static 'img/g12.jpg' %}" alt=" " class="img-responsive">
						<div class="overlay">
							<h4>Classic CV</h4>
						</div>
					</a>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!-- //projects -->

<!-- introduce -->
<div class="confi-w3l">
	<div class="container">
		<h3>Hello....</h3>
		<p>It's my pleasure to introduce my self..well, I'm Keith Mash and raised in USA.</p>
		<p>My strengths are my attitude that i like to take challenges that I CAN do it,my way of thinking that i take both success and failure in a balanced manner..</p>
	</div>
</div>
<!-- //introduce -->

{% endblock %}